/*
 * portStyles.css - a css file to style your portfolio navigation pages
 */
 
* {
	margin: 		0px;
	padding:  		0px;
	border: 		0px solid purple;
}

body {
	color: 			white;
	background-color: 	black;
	font-family: 		Tahoma, Geneva, sans-serif;
	width: 			960px;
	margin: 		0 auto;
}

a:link { 
	color: 			white;
}

a:visited { 
	color: 			white;
}

a:active { 
	color: 			white;
}

a:hover { 
	color: 			white;
}

div#bounding_box {
	width:			920px;
	margin:			10px;
	margin-left:		auto;
	margin-right:		auto;
	overflow-x:		hidden;
	overflow-y:		auto;
}

div#heading_box {

}

div#main_heading {
	text-align: 		center;
	font-size: 		36px;
	font-style: 		normal;
	padding-top: 		12px;
	padding-bottom: 	12px;
}

div#sub_heading {
	text-align: 		center;
	font-size: 		16px;
	font-style: 		italic;
	padding-top: 		8px;
	padding-bottom: 	8px;
}

div#portfolio_navigation {
	text-align: 		left;
	font-size: 		24px;
	font-style: 		bold;
	padding-top: 		8px;
	padding-bottom: 	8px;
}

div.portfolio_record_box {
	border: 		1px solid #999999;
	width: 			900px;
	margin-left:		auto;
	margin-right:		auto;
	clear: 			both;
	float: 			left;
	margin: 		5px;
}

div.portfolio_record_thumbnail_box {
	width:  		120px;
	height: 		120px;
	float: 			left;
	clear: 			both;
	padding: 		10px;	
	padding-left:  		20px;

}

div.portfolio_record_thumbnail_box a img { 
  	border: 		2px solid black; 
  	display: 		inline;
  	vertical-align:  	middle;
} 

div.portfolio_record_thumbnail_box a img:hover { 
  	border: 		2px solid white; 
} 

div.portfolio_record_text_box {
	float: 			left;
}

div.portfolio_record_main_heading {
	text-align: 		left;
	font-size: 		28px;
	font-style: 		normal;
	padding: 		8px;
}

div.portfolio_record_sub_heading {
	text-align: 		left;
	font-size: 		20px;
	font-style: 		italic;
	padding-top: 		8px;
	padding-bottom: 	8px;
	padding-left: 		30px;
}

div.portfolio_record_update_stamp {
	text-align: 		left;
	font-size: 		12px;
	font-style: 		normal;
	padding: 		8px;
	color: 			#999999;
}

div#portfolio_record_footer_box {
	width: 			100%;
	float: 			left;
	clear: 			both;
}

div#portfolio_record_footer_text {
	text-align:  		center;
	font-size: 		16px;
	font-style: 		italic;
	padding-top: 		8px;
	padding-bottom: 	8px;
	padding-left: 		30px;
}


